<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AdminMapper">
    <select id="selectAll" resultType="com.stusys.pojo.AdminInfo">
    SELECT * FROM admininfo order by  adminid desc
  </select>
    <select id="selectByName" parameterType="string" resultType="AdminInfo">
    SELECT * FROM admininfo where username=#{_parameter}
  </select>
    <insert id="insertAdmin" parameterType="AdminInfo">
  	insert into admininfo(username,password,realname) values(#{username},#{password},#{realname})
  </insert>
    <insert id="updateAdmin" parameterType="AdminInfo">
  	update admininfo set password=#{password},realname=#{realname} where adminid=#{adminid}
  </insert>
    <delete id="deleteAdmin" parameterType="int">
  	delete from admininfo where adminid=#{_parameter}
  </delete>
</mapper>
